header{
    color: white;
    background-color: rgba(0, 4, 97, 0.591);
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 2 em;
    margin: 15px;
    padding: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 10px;
    background-color: rgb(6, 129, 160);
}

.card{
    padding: 10px;
    margin: 15px;
}

.card-header{
    color: white;
    background-color: rgba(0, 98, 255, 0.856);
}

.list-group{
    color: black;
}

.list-group-item{
    white-space: nowrap;
    overflow: visible;
}

#email{
    color:rgba(0, 98, 255, 0.856);
}